body{
	background: white;
}

form label {
	display: block;
	font-size: 20px;
	color:blue;
}
form input{
	display: block;
	background:red;
	color: black;
	font-weight: bold;
}
table{
	blackground: pink;
	color: black;
	font-size: 30px;
}
table tr td{
	border: 2px solid #000000;
	boder-color: black;
}
